.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 24px;
    padding-top: 120px;
}

.logo {
    width: 160px;
}

.details {
    flex: 1;
    max-width: 500px;
}

.description {
    font-weight: 400;
}

.heroImage {
    flex: 1;
    width: calc(100% + 48px);
    height: 400px;
    margin: 0 -24px;
    object-fit: cover;
    object-position: center center;
}

/* preact-material-components' breakpoint for desktop */
@media (min-width: 840px) {
    .hero {
        padding-left: 100px;
        padding-right: 100px;
    }

    .heroImage {
        grid-column-start: 7;
        width: 0;
        max-width: 600px;
        height: auto;
        margin: 0;
        margin-left: 60px;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 50%, 25% 50%, 25% 25%, 50% 25%, 50% 0, 0 0);
    }
}
