.hero {
    padding: 50px 24px;
    padding-top: 250px;
}

.details {
    max-width: 600px;
    margin: 0 auto;

    text-align: center;
}

.details img {
    width: 100%;
    margin-bottom: 32px;
}

.details h2 {
    font-size: 18px;
    font-weight: 400;
}

.details h3 {
    margin-top: 2.4em;

    font-size: 20px;
    font-weight: 400;
}

.details span {
    margin: 0 16px;
}

.details a {
    display: inline-block;
}

.heroImage {
    flex: 1;
    width: calc(100% + 48px);
    height: 360px;
    margin: 0 -24px;
    margin-top: 56px;
    object-fit: cover;
    object-position: center center;
}

.button {
    margin: 0 5px;
}

/* preact-material-components' breakpoint for desktop */
@media (min-width: 840px) {
    .hero {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
    }

    .details {
        padding: 24px 0;
    }

    .heroImage {
        grid-column-start: 7;
        width: 0;
        max-width: 600px;
        height: auto;
        margin: 0;
        margin-left: 60px;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 50%, 25% 50%, 25% 25%, 50% 25%, 50% 0, 0 0);
    }
}
