.header {
    padding: 24px 72px;
    position: relative;
    background-color: #f7f7f7;
}

.back {
    margin-bottom: 36px;
    transform: translate(-60px, -12px);
}

.header img {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.header h2 {
    margin: 0;
    font-weight: 500;
}

.header h3 {
    margin: 0;
    font-weight: 400;
}

.content {
    min-height: 300px;
    max-height: 80vh;
    padding: 24px 72px 72px 72px;
    overflow: auto;
}

.content p {
    margin: 0;
    font-size: 16px;
    line-height: 1.75;
}
