.schedule {
    display: flex;
    flex-direction: column;

    height: 100%;
    min-height: 80px;
    padding: 24px;
    border: 1px solid #ededed;
    border-radius: 8px;
}

.scheduleFull {
    grid-column-end: span 4;
}

.title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.duration {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.speakers {
    padding-top: 24px;
    margin-top: auto;
}

.speaker {
    display: flex;
    align-items: center;
}

.speaker:not(:last-child) {
    margin-bottom: 8px;
}

.speakerPhoto {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.speakerName {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .schedule {
        grid-row-end: initial !important;
    }

    .scheduleFull {
        grid-column-end: initial;
    }
}
