/* Specificy Hack -_- */
.hero.hero {
    padding: 60px 100px;
    padding-top: 120px;
}

.logo {
    width: 160px;
}

.description {
    font-weight: 400;
}

.heroImage {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 50%, 25% 50%, 25% 25%, 50% 25%, 50% 0, 0 0);
}

.heroImage img {
    display: block;
    width: 100%;
}

/* preact-material-components' breakpoint for desktop */
@media (min-width: 840px) {
    .heroImage {
        grid-column-start: 7;
    }
}
