.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    align-items: center;
    padding: 50px 100px;
    padding-top: 120px;
}

.logo {
    width: 160px;
}

.details {
    max-width: 500px;
}

.description {
    font-weight: 400;
}

.heroImage {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 50%, 25% 50%, 25% 25%, 50% 25%, 50% 0, 0 0);
}

.heroImage img {
    display: block;
    width: 100%;
}
