.button {
    padding: 12px 32px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #1a73e8;
    outline: none;
    transition: all 100ms ease-in-out;
}

.button:focus {
    background-color: #f4f8ff;
}

.button:hover {
    border-color: #d2e3fc;
    background-color: #fcfdff;
}

.button:active {
    border-color: #ecf3fe;
    background-color: #ecf3fe;
    box-shadow:
        0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
