.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 50px 24px;
    border-top: 1px solid #ededed;
}

.social .text {
    font-size: 20px;
}

.social p {
    margin-top: 0;
}

.social .links {
    display: flex;
}

.social a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 0;
    background: var(--primary-color) center center no-repeat;
}

.social a:global(.facebook) {
    background-image: url("../../images/facebook.svg");
}

.social a:global(.twitter) {
    background-image: url("../../images/twitter.svg");
}

.social a:global(.meetup) {
    background-image: url("../../images/meetup.svg");
}

.social img {
    width: 80%;
    max-width: 340px;
    margin: 0 auto;
    margin-top: 24px;
}

@media (min-width: 840px) {
    .social {
        padding: 80px 100px;
        padding-bottom: 100px;
    }

    .social .text {
        width: 50%;
        max-width: 520px;
    }

    .social img {
        width: 50%;
        max-width: 340px;
        margin: 0;
    }
}
