.photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        ". . ."
        ". . ."
        ". content content";
    grid-gap: 2px;

    height: calc(100vh + 160px);
    padding: 50px 0;
}

.photoGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    grid-area: content;
    grid-column-end: span 2;
    padding: 32px;

    color: #fff;
    background-color: var(--primary-color);
}

.content h3 {
    margin: 0;
}

.content p {
    font-size: 16px;
}

.content a {
    margin-top: auto;
    text-decoration: none;
}

button.seePhotos.seePhotos {
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 0;
    color: inherit;
}

@media (max-width: 839px) {
    .photoGrid img:nth-child(1) {
        grid-column-end: span 3;
    }

    .photoGrid img:nth-child(2) {
        grid-column-end: span 2;
    }

    .photoGrid img:nth-child(4) ~ img {
        transform: scale(2);
    }
}

@media (min-width: 840px) {
    .photoGrid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            ". . . . ."
            ". content content . ."
            ". . . . .";

        padding: 80px 2px;
    }

    .photoGrid img:nth-child(1),
    .photoGrid img:nth-child(2),
    .photoGrid img:nth-child(6),
    .photoGrid img:nth-child(8) {
        grid-column-end: span 2;
    }

    .photoGrid img:nth-child(3) {
        grid-row-end: span 2;
    }
}
