.speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 0 1px #ededed;
    transition: box-shadow 200ms ease-in-out;
}

.speaker:hover {
    box-shadow:
        0 0 3px 2px rgba(0, 0, 0, 0.1),
        0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.speaker img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.speaker h3 {
    margin-bottom: 4px;
    font-weight: 400;
}

.speaker h4 {
    margin-top: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
}

.speaker p {
    margin: 0;
    margin-top: auto;
    font-size: 15px;
    color: #676767;

    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
