.topAppBar {
    padding: 0 100px;
    background-color: #fff;
}

.topAppBarRow {
    height: 72px;
}

.link {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    color: #5f6368;
}

.link:not(.linkActive):hover,
.link:not(.linkActive):focus {
    background-color: #f4f8ff;
}

.linkActive {
    color: var(--primary-color-dark);
    background-color: var(--primary-color-light);
}

.link:not(:first-child) {
    margin-left: 8px;
}

.link:last-child {
    margin-right: -16px;
}

.drawer :global(.mdc-drawer) {
    width: 300px;
    max-width: 300px;
}

.drawerHeader {
    padding: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dadce0;
}

.drawerHeader img {
    width: 70px;
    margin-bottom: 12px;
}

.drawerHeader h2,
.drawerHeader h3 {
    margin: 0;
    font-weight: 400;
}

.drawerHeader h2 {
    font-size: 18px;
}

.drawerHeader h3 {
    font-size: 15px;
}

.drawer :global(.mdc-list-item) {
    font-size: 15px;
    font-weight: 400;
    color: #444;
}

.drawer :global(.mdc-list-item--activated) {
    color: var(--primary-color-dark);
    /* background-color: var(--primary-color-light); */
}
