* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1a73e8;
    --primary-color-dark: #174ea6;
    --primary-color-light: #d2e3fc;

    --mdc-theme-primary: var(--primary-color);
    --mdc-theme-on-primary: #444;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Google Sans', 'Helvetica Neue', arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* preact-material-components' breakpoint for desktop */
@media (min-width: 840px) {
    body {
        font-size: 18px;
    }
}

a,
button {
    font: inherit;
    color: inherit;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#app {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.mdc-theme--dark {
    background-color: #333;
    color: #fff;
}

.mdc-theme--dark .mdc-card {
    color: #444;
}

#app .page {
    padding-top: 56px;
}
