.footer {
    padding: 20px 24px;
    background-color: #fafafa;
}

.footer picture {
    display: block;
    max-height: 60px;
    margin: 0 auto;
}

@media (min-width: 840px) {
    .footer {
        padding: 20px 100px;
    }

    .footer picture {
        max-height: 80px;
        margin: 0;
    }
}
