.info {
    padding: 80px 24px;
}

.text h2 {
    margin-top: 0;
    font-size: 32px;
    font-weight: 400;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.stat .value {
    margin: 0;
    margin-bottom: 8px;
    font-size: 50px;
}

.stat .value::after {
    content: "";
    display: block;
    width: 64px;
    height: 4px;
    background-color: var(--primary-color);
}

/* preact-material-components' breakpoint for desktop */
@media (min-width: 840px) {
    .info {
        padding-left: 100px;
        padding-right: 100px;
    }

    .text {
        max-width: 700px;
    }

    .stats {
        grid-column-start: 8;
    }
}
