.partners {
    padding: 50px 24px;
}

.partners h2 {
    margin-top: 0;
    font-size: 32px;
    font-weight: 400;
}

.group {
    display: flex;
    flex-wrap: wrap;
}

.group h3 {
    width: 100%;
    margin-bottom: 24px;
    font-weight: 400;
}

.group a {
    display: block;
    padding: 24px 32px;
}

.group img {
    max-height: 42px;
}

/* preact-material-components' breakpoint for desktop */
@media (min-width: 840px) {
    .partners {
        padding: 80px 100px;
    }
}
